/* Rectangle 2 */

.columnDynamic {
position: absolute;
display: grid;
width: 910px;
height: 2257px;
left: 533px;
top: 0px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
background: #FFFFFF;
grid-gap: 10px 10px; 
}

.Projects {
    background: deepskyblue;
    padding: 4rem;
}

.columnStable {
/* Rectangle 1 */
position: fixed;
width: 533px;
height: 1024px;
left: 0px;
top: 0px;

    }

/*.columnDynamic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
   position: absolute;
    width: 910px;
  height: 2257px;
    left: 530px;
    top: 0px;
    background: #C4C4C4;
}

.wrapper > * {
    padding: 10px 20px;
    background: #C4C4C4;
}
*/