.firstcolumn {
    background-color: #C4C4C4; 
}

.secondcolumn {
    background-color: #F1EBEA;
}


  .column {
    padding: 5px;
  }


  .Questions {
    text-align: center;

  }
  #React {
      margin-left: -10px;
    margin-right:-23px;
  }

.card{
    margin-top: 5px;
    margin-bottom:5px;
}
.card-title{
    margin-top:-10px;

}

.card .card-img-top {
height: 400px;
}
.changing-image {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 350px;
  height: 350px;
  margin-top: 50px;
}
