<!DOCTYPE html>
<html>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></script>
    <script src="{{url_for('static', filename='accessNumsFromScraper.js')}}"></script>
    <div id="demo">
    <label for="cars">Choose a state:</label>
    <select name="states" id="state", onchange = "getNums(this.options[this.selectedIndex].value)">
      <option selected disabled hidden>State</option>
      <option value="north_carolina">North Carolina</option>
      <option value="new_hampshire">New Hampshire</option>
      <option value="georgia">Georgia</option>
      <option value="ohio">Ohio</option>
      <option value="texas">Texas</option>
      <option value="florida">Florida</option>
      <option value="arizona">Arizona</option>
      <option value="iowa">Iowa</option>
      <option value="pennsylvania">Pennsylvania</option>
      <option value="wisconsin">Wisconsin</option>
      <option value="michigan">Michigan</option>
      <option value="nevada">Nevada</option>
      <option value="indiana">Indiana</option>
    </select>
    <p id = "Date">Date/Time when retrieved: <br>
    </p>
    <p>TP = Total Precincts/Percent Reporting <br>
    </p>
    <p>PR = Precincts Reporting <br>
    </p>
    <p id = "DDHQTotal"> <br>
    </p>
    <p id = "APTotal"> <br>
    </p>
    <p id = "EdisonTotal"> <br>
    </p>
    <table id="NBC" style ="float:left">
      <!-- here goes our data! -->
      </table>
      <table id="DDHQ" style ="float:left">

        <!-- here goes our data! -->
        </table> 
        <table id="AP" style ="float:left">

          <!-- here goes our data! -->
          </table> 
</div>
</body>
</html>